<!DOCTYPE html>
<html>
  <head>
    <title>CodecoreTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', home_path %> | <%= link_to 'New Question', new_question_path %> | <%= link_to('Contact Us',contact_path) %> | <%= link_to 'All Questions', questions_path %> | <%= link_to "Sign Up", new_user_path %>
    </nav>
    <%= yield %>
  </body>
</html>
